<div class="admin_spot_new">
	<p class = "notice"><%= flash[:success] %></p>
	<h2>観光地の登録</h2>

	<%= form_for @spot, url:admin_spots_path do |f| %>
	<table class="table-striped" >
		<tr>
			<th width="30%"></th>
			<td colspan="2">
				<%= f.attachment_field :image %>
		 	</td>
		</tr>

		<tr>
		<th>観光地名</th>
		<td colspan="2"><%= f.text_field :name, autofocus:true %></td>
		</tr>

		<tr>
		<th>住所</th>
		<td colspan="2"><%= f.text_field :address, :size=>"60" %></td>
		</tr>

	  <tr>
	  <th>ジャンル</th>
		<td><%= f.collection_select :category_id, Category.all, :id, :name, :prompt => "選択してください" %></td>
		<td><%= link_to "カテゴリーの新規登録", admin_categories_path %></td>
		</tr>

		<tr>
		<th>説明</th>
		<td colspan="2"><%= f.text_area :content, :size=>"60" %></td>
		</tr>

		<%= f.hidden_field :latitude, :value => @spot.latitude %>
		<%= f.hidden_field :longitude, :value => @spot.longitude %>

	</table>

		<div class="admin_spot_new_btn"><%= f.submit "登録", class:'button btn btn-success' %></div>

	<% end %>
</div>

