<div class="post_form">
	<%= form_for(@post) do |f| %>

		<div class="post_destination_form">
			<label class="spot_name"><%= @spot.name %></label>
			<%= f.hidden_field :spot_id, :value => @post.spot.id %>
		</div>

		<div>
  		<%= link_to_add_association '画像の追加', f, :post_images, partial: 'posts/add_image_field' %>
	  </div>

		<script>
  	var counter = 0;
	  document.addEventListener("turbolinks:load", function() {
  		$('.post_form')
	  	  .on('cocoon:after-insert', function(e, insertedItem) {
  			  $(insertedItem).find('.imageFile').attr('id', 'imageFile_' + counter++);

			    $(".imageFile").change(function() {
			    	var id = $(this).attr('id');

			      var file = $(this).prop("files")[0];
			      var fr = new FileReader();
			      $("#" + id).css("background-image", "none");
			      fr.onload = function() {
			        $("#" + id).css("background-image", "url(" + fr.result + ")");
			      };
			      fr.readAsDataURL(file);
			      $(".imgPreview img").css("opacity", 0);
			    });
     		})
   	})
    </script>


		<div class="date_input">
			<label class="visit_date">訪問日</label>
			<%= f.text_field :visit_date, class:"form-control datetimepicker-input", data: {toggle: "datetimepicker", target: ".datetimepicker-input"}, placeholder: "YYYY/MM/DD" %>
				<script type="text/javascript">
					$(function () {
						$(".datetimepicker-input").datetimepicker({
						format:'YYYY/MM/DD'
						});
					});
				</script>
		</div>

		<div class="post_impression">
			<%= f.text_area :impression, size: "50x10" %>
		</div>

		<%= f.submit "投稿", class:"btn btn-primary" %>

	<% end %>
</div>





