<div class="post_show">
	<div class="post_user">
		<%= @post.user.name %>さん
	</div>

	<div class="post_day">
		<%= @post.created_at.strftime("%Y年%m月%d日")  %>
		<% if @post.user == current_user %>
			<%= link_to "編集", edit_post_path(@post.id), class:"glyphicon glyphicon-pencil" %>
		<% end %>
	</div>

	<% @post_images.each_slice(2) do |image1, image2| %>
		<div class="post_photos">
			<% if image1 != nil %>
				<%= attachment_image_tag image1, :image, :fill, 300, 225 %>
			<% end %>

			<% if image2 != nil %>
				<%= attachment_image_tag image2, :image, :fill, 300, 225 %>
			<% end %>
		</div>
	<% end %>

	<div class="post_show_name">
		<%= @post.spot.name %>
	</div>

	<div class="post_visit_day">
		<label class="visit_date">訪問日</label>
		<%= @post.visit_date.strftime("%Y年%m月%d日") %>
	</div>

	<div class="post_comment">
		<%= @post.impression %>
	</div>

</div>