<!DOCTYPE html>
<html>
  <head>
    <title>YakushimaTrip</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% self_css_path = "/assets/"+controller.controller_name  %>
    <%= stylesheet_link_tag self_css_path, :media => "all" %>

    <% self_css_path = "/assets/admin/"+controller.controller_name  %>
    <%= stylesheet_link_tag self_css_path, :media => "all" %>

    <script src="https://kit.fontawesome.com/b1ddc8e955.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>

  </head>

  <body>
    <header>
      <div class="container">
        <nav class="navbar-left">
          <% if params[:controller] == 'spots' && params[:action] == 'index' %>
            <%= link_to(root_path) do %>
              <span class="header-title">やくしま</span>
            <% end %>
          <% elsif params[:controller] == 'admin/spots' && params[:action] == 'index' %>
            <%= link_to(admin_spots_path) do %>
              <span class="header-title">やくしま</span>
            <% end %>
          <% elsif params[:controller] == 'admin/spots' || 'admin/posts' || 'admin/post_images' || 'admin/categories' || 'admin/users' %>
            <%= link_to(admin_spots_path) do %>
              <span class="header-title">やくしま</span>
            <% end %>
          <% else %>
             <%= link_to(root_path) do %>
              <span class="header-title">やくしま</span>
            <% end %>
          <% end %>
        </nav>
        <nav class="navbar-right">
          <ul>
            <!-- アドミン -->
            <% if admin_signed_in? %>
              <li>
                <span class="admin_user">
                  <%= link_to '管理者メニュー', admin_menu_path %>
                </span>
              </li>
              <li>
                <span class="admin_user">
                  <%= link_to "サインアウト", destroy_admin_session_path, method: :delete %>
                </span>
              </li>
            <!-- ユーザー -->
            <% elsif user_signed_in?%>
              <li>
                <span class="current_user">
                  <%= link_to (mypage_path(current_user.id)) do %>
                    <%= current_user.name %>さん
                  <% end %>
                </span>
              </li>
              <li>
                <span class="current_user">
                  <%= link_to "サインアウト", destroy_user_session_path, method: :delete %>
                </span>
              </li>
            <!-- 非ログイン -->
            <% else %>
              <li>
                <span class="signup">
                  <%= link_to "新規登録", new_user_registration_path %>
                </span>
              </li>
              <li>
                <span class="signup">
                  <%= link_to "ログイン", new_user_session_path %>
                </span>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>